{% load account_tag %}

<form method="post" enctype="multipart/form-data" hx-post="{% url 'accounts:profile_edit' form_name=form_name %}" hx-target="#refresh"> 
    {% csrf_token %}
        {% for field in form %}
            <div class="row" style="margin-top: 2px;">
                <div class="col-sm-8">
                    <strong>{{ field|add_class:'form-control' }}</strong>
                </div>
                <div class="col-sm-4 d-flex justify-content-end align-items-center">
                    <button class="btn btn-info btn-custom me-2" type="submit">Submit</button>
                    {% comment %} <a href="{% url 'accounts:profile' %}?status=submitted" class="btn btn-info btn-custom me-2" role="button" type="submit">Submit</a> {% endcomment %}
                    <a href="{% url 'accounts:profile' %}" class="btn btn-dark btn-custom" role="button">Cancel</a>
                </div>
            </div>
        {% endfor %}
</form>

