{% extends "base.html" %}
{% block content %}
<div>
<section id="left-section">
</section>
<section id="middle-section">
    <div style="text-align: center;">
        <h3 style="text-align: center; margin-left: auto; margin-right: auto; width: 100%">{{ profile.username|capfirst }}</h3>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-8">
                        {% if profile.profile_photo %}
                        <div class="text-center">
                            <img src="{{ profile.profile_photo.url }}" class="img-center img-thumbnail" alt="{{ profile.username }}'s photo">
                        </div>
                        {% endif %}
                        <div class="container">
                            <div class="row g-3" style="margin-top: 10px;">
                                <div class="col-sm-5 gutter-content">
                                {% include 'partials/first_name.html' %}
                                </div>
                                <div class="col-sm-5 gutter-content">
                                {% include 'partials/last_name.html' %}
                                </div>
                                {% if error and form_name %}
                                    {% if form_name == 'first_name' or form_name == 'last_name' %}
                                        <div class="alert alert-danger custom-alert">
                                            {{ error }}
                                            <button type="button" class="btn-close custom-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="row g-3" style="margin-top: 10px;">
                                <div class="col-sm-5 gutter-content">
                                {% include 'partials/email.html' %}
                                </div>
                                <div class="col-sm-5 gutter-content">
                                {% include 'partials/phone_number.html' %}
                                </div>
                                {% if error %}
                                    {% if form_name == 'email' or form_name == 'phone_number' %}
                                        <div class="alert alert-danger custom-alert">
                                            {{ error }}
                                            <button type="button" class="btn-close custom-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="row g-3" style="margin-top: 10px;">
                                <div class="col-sm-5 gutter-content">
                                {% include 'partials/max_capacity.html' %}
                                </div>
                                <div class="col-sm-5 gutter-content">
                                {% include 'partials/street.html' %}
                                </div>
                                {% if error %}
                                    {% if form_name == 'max_capacity' or form_name == 'street' %}
                                        <div class="alert alert-danger custom-alert">
                                            {{ error }}
                                            <button type="button" class="btn-close custom-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="row g-3" style="margin-top: 10px;">
                                <div class="col-sm-5 gutter-content">
                                {% include 'partials/postal_code.html' %}
                                </div>
                                <div class="col-sm-5 gutter-content">
                                {% include 'partials/location.html' %}
                                </div>
                                {% if error %}
                                    {% if form_name == 'postal_code' or form_name == 'location' %}
                                        <div class="alert alert-danger custom-alert">
                                            {{ error }}
                                            <button type="button" class="btn-close custom-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="row g-3" style="margin-top: 10px;">
                                <div class="col-12 gutter-content-biography">
                                {% include 'partials/biography.html' %}
                                </div>
                                {% if error %}
                                    {% if form_name == 'biography' %}
                                        <div class="alert alert-danger custom-alert">
                                            {{ error }}
                                            <button type="button" class="btn-close custom-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div>
        {% include "partials/image_upload.html" %}
    </div>
</section>
<section id="right-section">
</section>
</div>
{% endblock %}


