{% extends "base.html" %}
{% block content %}
<div>
<section id="left-section">
</section>
<section id="middle-section">
    <div style="text-align: center;">
        <h3>{{ profile.first_name }} {{ profile.last_name }}</h3>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <table class="table table-borderless table-light">
                        {% if profile.profile_photo %}
                            <tr>
                                <td class="text-center">
                                    <img src="{{ profile.profile_photo.url }}" class="img-center img-thumbnail" alt="{{ profile.username }}'s photo">
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>
                                <div class="profile-detail">
                                    <div class="profile-info">
                                        <strong class="profile-value">{{ profile.username }}</strong>
                                        <p class="label-text">Username</p>
                                    </div>
                                    <i class="bi bi-pen" style="cursor: pointer;"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="profile-detail">
                                    <div class="profile-info">
                                        <strong class="profile-value">{{ profile.first_name }}</strong>
                                        <p class="label-text">First name</p>
                                    </div>
                                    <i class="bi bi-pen" style="cursor: pointer;"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="profile-detail">
                                    <div class="profile-info">
                                        <strong class="profile-value">{{ profile.last_name }}</strong>
                                        <p class="label-text">Last name</p>
                                    </div>
                                    <i class="bi bi-pen" style="cursor: pointer;"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="profile-detail">
                                    <div class="profile-info">
                                        <strong class="profile-value">{{ profile.email }}</strong>
                                        <p class="label-text">E-mail address</p>
                                    </div>
                                    <i class="bi bi-pen" style="cursor: pointer;"></i>
                                </div>
                            </td>
                        </tr>
                        {% if profile.phone_number %}
                        <tr>
                            <td>
                                <div class="profile-detail">
                                    <div class="profile-info">
                                        <strong class="profile-value">{{ profile.phone_number }}</strong>
                                        <p class="label-text">Phone number</p>
                                    </div>
                                    <i class="bi bi-pen" style="cursor: pointer;"></i>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% if profile.street %}
                        <tr>
                            <td>
                                <div class="profile-detail">
                                    <div class="profile-info">
                                        <strong class="profile-value">{{ profile.street }}</strong>
                                        <p class="label-text">Street</p>
                                    </div>
                                    <i class="bi bi-pen" style="cursor: pointer;"></i>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% if profile.postal_code %}
                        <tr>
                            <td>
                                <div class="profile-detail">
                                    <div class="profile-info">
                                        <strong class="profile-value">{{ profile.postal_code }}</strong>
                                        <p class="label-text">Postal code</p>
                                    </div>
                                    <i class="bi bi-pen" style="cursor: pointer;"></i>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>
                                <div class="profile-detail">
                                    <div class="profile-info">
                                        <strong class="profile-value">{{ profile.location }}</strong>
                                        <p class="label-text">Location</p>
                                    </div>
                                    <i class="bi bi-pen" style="cursor: pointer;"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="profile-detail">
                                    <div class="profile-info">
                                        <strong class="profile-value">{{ profile.max_capacity }}</strong>
                                        <p class="label-text">Max capacity</p>
                                    </div>
                                    <i class="bi bi-pen" style="cursor: pointer;"></i>
                                </div>
                            </td>
                        </tr>
                        {% if profile.biography %}
                        <tr>
                            <td>
                                <div class="profile-detail">
                                    <div class="profile-info">
                                        <strong class="profile-value">{{ profile.biography }}</strong>
                                        <p class="label-text">Biography</p>
                                    </div>
                                    <i class="bi bi-pen" style="cursor: pointer;"></i>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <br>
        <a href="{% url 'accounts:profile_edit' %}" class="btn btn-primary" role="button">Edit Profile</a>
    </div>
    <div>
        {% include "partials/image_upload.html" %}
    </div>
</section>
<section id="right-section">
</section>
</div>
{% endblock %}


