{% extends "base.html" %}

{% block content %}
<div>
<section id="left-section">
</section>
<section id="middle-section">
    <div style="text-align: center;">
        <h3>{{ profile.username|capfirst }}</h3>
        <table class="table custom-table">
            {% if profile.profile_photo %}
                <tr style="text-align: left;">
                    <td><img src="{{ profile.profile_photo.url }}" alt="{{ profile.username }}'s photo"></td>
                </tr>
            {% endif %}
            <tr style="text-align: left;"><td><p>First name : {{ profile.first_name }}</p></td></tr>
            <tr style="text-align: left;"><td><p>Last name : {{ profile.last_name }}</p></td></tr>
            <tr style="text-align: left;"><td><p>E-mail address : {{ profile.email }}</p></td></tr>
            <tr style="text-align: left;"><td><p>Location : {{ profile.addresse }}</p></td></tr>
            <tr style="text-align: left;"><td><p>Postal code : {{ profile.postal_code }}</p></td></tr>
            <tr style="text-align: left;"><td><p>Phone number : {{ profile.phone_number }}</p></td></tr>
            <tr style="text-align: left;"><td><p>Biography : {{ profile.biography }}</p></td></tr>
        </table>
        <br><br><br><br>
        <button><a href="{% url 'accounts:profile_edit' %}" class="btn btn-primary">Edit Profile</a></button>
    </div>
    <div>
        {% include "partials/image_upload.html" %}
    </div>
</section>
<section id="right-section">
</section>
</div>
{% endblock %}


