{% extends "base.html" %}

{% block content %}
<br><br><br><br>
    <form method='post'>
        {% csrf_token %}
        <div class="form-middle">
            <table>
                {% for field in form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="form-middle" style="margin: 20px 0; padding: 10px 0;">
            <input type='submit' value='Submit'>
        </div>
    </form>
{% endblock %}