<div>
    <h2>Add your home pictures</h2>

        {% if photos %}
        <table>
            {% for photo in photos %}
            <tr>
                <td>
                    <img src="{{ photo.image.url }}" alt="{{ photo.photo_type }}">
                    <button type='button' hx-post="{% url 'accounts:delete_image' pk=photo.pk %}" hx-target='#refresh'>Delete</button>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <form method="post" enctype="multipart/form-data" hx-encoding="multipart/form-data" hx-post="{% url 'accounts:profile' %}" hx-target='#refresh'>
        {% csrf_token %}
        {{ form.management_form }}
        <table>
            {% for form in form.forms %}
            <tr>
                <td>
                    {{ form.label_tag }} {{ form }}
                </td>
            </tr>
            {% endfor %}
        </table>
        <div>
            {% comment %} <button type="submit" hx-post="{% url 'accounts:image_upload' %}" hx-target='#refresh'>Submit</button> {% endcomment %}
            <input type="submit" value="Submit">
        </div> 
    </form>
</div>


{% comment %} <table>
    {% for form in form.forms %}
    <tr>
        {% for field in form %}
        <td>
            {{ field.label_tag }} {{ field }}
            {% for error in field.errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        </td>
        {% endfor %}
        {% if form.non_field_errors %}
        <td>
            {% for error in form.non_field_errors %}
            <div style="color: red;">{{ error }}</div>
            {% endfor %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table> {% endcomment %}