{% if profile.street %}
    <div class="profile-detail" id="edit-street" hx-swap="outerHTML">
        <div class="profile-info">
            <strong class="profile-value">{{ profile.street }}</strong>
            <p class="label-text">Street</p>
        </div>
        <a href="#" hx-get="{% url 'accounts:profile_edit' form_name='street' %}" hx-target="#edit-street">
            <i class="bi bi-pen small-icon"></i>
        </a>
    </div>
{% else %}
    <div class="profile-detail" id="edit-street" hx-swap="outerHTML">
        <div class="profile-info">
            <strong class="profile-value">Street</strong>
            <p class="label-text" style="color:indianred;">Please enter your street.</p>
        </div>
        <a href="#" hx-get="{% url 'accounts:profile_edit' form_name='street' %}" hx-target="#edit-street">
            <i class="bi bi-pen small-icon"></i>
        </a>
    </div>
{% endif %}