<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Details</title>
</head>
<body>
    <h1>Blog Post Details</h1>

    <div id="blogPostDetails"></div>
    <div id="userPhotos"></div>

    <script>
        // Extract the post ID from the URL
        var pathSegments = window.location.pathname.split('/');
        var postId = pathSegments[pathSegments.length - 2];

        console.log("Extracted Post ID:", postId);  // Log the post ID for debugging

        fetch('/search/api/blog/' + postId + '/')
            .then(response => response.json())
            .then(data => {
                var blogPostDetailsDiv = document.getElementById('blogPostDetails');

                var titleElement = document.createElement('h2');
                titleElement.textContent = 'Title: ' + data.title;
                blogPostDetailsDiv.appendChild(titleElement);

                var descriptionElement = document.createElement('p');
                descriptionElement.textContent = 'Description: ' + data.description;
                blogPostDetailsDiv.appendChild(descriptionElement);

                var locationElement = document.createElement('p');
                locationElement.textContent = 'Location: ' + data.location;
                blogPostDetailsDiv.appendChild(locationElement);

                var toCityElement = document.createElement('p');
                toCityElement.textContent = 'To City: ' + data.to_city;
                blogPostDetailsDiv.appendChild(toCityElement);

                var maxCapacityElement = document.createElement('p');
                maxCapacityElement.textContent = 'Max Capacity: ' + data.max_capacity;
                blogPostDetailsDiv.appendChild(maxCapacityElement);

                var startDateElement = document.createElement('p');
                startDateElement.textContent = 'Start Date: ' + data.start_date;
                blogPostDetailsDiv.appendChild(startDateElement);

                var endDateElement = document.createElement('p');
                endDateElement.textContent = 'End Date: ' + data.end_date;
                blogPostDetailsDiv.appendChild(endDateElement);

                var userPhotosDiv = document.getElementById('userPhotos');
                data.user_photos.forEach(photo => {
                    var photoElement = document.createElement('img');
                    photoElement.src = photo.image_url;
                    photoElement.alt = photo.photo_type;
                    userPhotosDiv.appendChild(photoElement);
                });
            })
            .catch(error => console.error('Error:', error));
    </script>
</body>
</html>