*{
    box-sizing: border-box;
    font-family: AdventPro;
}

@font-face {
    font-family: AdventPro;
    src: url(../fonts/AdventPro-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: AdventProItalic;
    src: url(../fonts/AdventPro-Italic-VariableFont_wdth\,wght.ttf);
}

html {
    scroll-padding-top: 180px;
    height: 100%;
}

body {
    background-color: #eff1ee;
    font-size: 16px;
    color: #eff1ee;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


main {
    flex-grow: 1; 
}

header {
    background-color: #1b1c27;
    display: flex;
    margin: -8px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0px 20px;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    position: absolute;
    left: 0; 
    right: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

nav ul li {
    position: relative; 
}

nav ul li:not(:last-child)::after {
    content: ''; 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px; 
    background-color: #fff; 
}

nav a {
    font-family: AdventPro;
    letter-spacing: 1px;
    text-decoration: none;
    color: #eff1ee;
    padding: 10px 15px;
    display: block;
    font-size: 22px;

}

nav a:hover {
    color: black;
    background-color: #9ec1d7;
}

.login-button {
    font-family: AdventPro;
    font-size: 20px;
    padding: 5px 20px;
    background-color: #9ec1d7; 
    color: #1b1c27; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 200px;
}

.login-button:hover {
    background-color: #eff1ee; 
}

.home {
    display: flex;
    background-image: url(../img/homeswap.gif);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -8px;
    flex-direction: column;
    text-align: justify;
    align-items: left;
    justify-content: center;
    line-height: 30px;
}

.home p {
    font-size: 25px;
    margin: 40px 100px;
}

h1 {
    font-family: AdventPro;
    text-shadow: 2px 5px 4px rgb(0, 0, 0);
    font-size: 80px;
    line-height: 80px;
    text-align: left;
}

.signup-button {
    font-family: AdventPro;
    font-size: 20px;
    padding: 20px 70px;
    background-color: transparent; 
    color: #eff1ee; 
    border: 2px solid #eff1ee;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.signup-button:hover {
    background-color: #18465a; 
}

.content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    margin: 100px 10% 200px;
}

.content div {
    background-color: #18465a;
    border-radius: 10px;
    padding: 15px 30px;
}

article {
    display: flex;
    justify-content: space-between;
}

article div {
    width: 300px;
    text-align: left;
    margin: 0px 50px;
}

.content img {
    max-width: 100%;
    height: auto;
}

.client {
    background-color: #9ec1d7;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    padding: 150px 0px 200px;
    margin:-8px;
}

.client div {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #18465a;
    width: 400px;
    border: 2px solid #eff1ee;
    border-radius: 10px;
    padding: 15px 30px;
}


h2 {
    font-family: AdventPro;
    font-size: 70px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px black;
}

h3 {
    color: #18465a;
    font-size: 50px;
    text-align: left;
    margin: 40px 50px;
}

.content-numbers h3 {
    width: 300px;
}


.parallax1 {
    background: url(../img/paralax1.jpg);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px -8px;
}

.parallax2 {
    background: url(../img/paralax2.jpg);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px -8px;
}

.parallax3 {
    background: url(../img/paralax3.jpg);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px -8px;
}

.login {
    color: #18465a;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
    line-height: 30px;
}

.login h2 {
    color: #18465a;
    padding-bottom: 100px;
    text-shadow: 0px 0px 0px black;
}

.login label{
    font-weight: bold;
}

.login input{
    margin-bottom: 20px;
}

.login button {
    background-color: #9ec1d7;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border: none; 
}

.login button:hover {
    background-color: #18465a;
    color: #eff1ee;
}

.register {
    color: #18465a;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 30px;
}

.register h2 {
    color: #18465a;
    padding-bottom: 100px;
    text-shadow: 0px 0px 0px black;
}

.register table {
    margin-bottom: 20px;
}

.submit-button input {
    background-color: #9ec1d7;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border: none; 
}

.submit-button input:hover {
    background-color: #18465a;
    color: #eff1ee;
}

.profile {
    color: #18465a;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    padding-bottom: 50px;
}

.profile h3 {
    color: #18465a;
    font-size: 50px;
    width: 300px;
    text-align: center;
    margin: 40px 50px;
}


.profile img {
    max-height: 300px;
}



footer {
    display: flex;
    flex-direction: column;
    color: #eff1ee;
    background-color: #1b1c27;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    flex-shrink: 0; 
    margin: -8px;
}

footer form{
    padding-top: 100px;
    padding-bottom: 80px;
}

footer img {
    padding-top: 20px;
}


.container-fluid {
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid > div {
    width: 85%;
    min-width: 300px;
    max-width: 500px;
}

.card {
    width: 100%;
    background-color: #282c34;
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn a, .btn a:hover {
    color: white;
    text-decoration: none;
}

input.no-spinners {
    -moz-appearance: textfield; 
}


.custom-card-bg {
    background-color: #f8f9fa; 
}

.profile-table {
    width: 40%;
    height: auto;
    margin: auto;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.image-thumbnail {
    position: relative;
    display: inline-block;
}

.image-thumbnail .delete-button {
    position: absolute;
    top: 5px;
    right: 13px;
    display: none;
    opacity: 0.8;
    width: 45px;  /* Set the width of the button */
    height: 30px;  /* Set the height of the button */
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-thumbnail:hover .delete-button {
    display: flex;
}

.carousel-item img {
    width: auto;  /* Allows the image to adjust width based on its aspect ratio */
    max-width: 100%;  /* Ensures the image does not exceed the width of the carousel */
    height: 800px;  /* Fixed height for all images */
    object-fit: contain;  /* Ensures the image is scaled properly within the dimensions */
    margin: auto;  /* Centers the image horizontally in the carousel */
}

/* This CSS will hide the spinner controls for all input[type='number'] elements */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Targeting only the input fields with the 'no-spinners' class */
input.no-spinners::-webkit-inner-spin-button,
input.no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.provider-list ul {
    list-style-type: none; /* Removes the bullet points from lists */
    padding: 0; /* Removes padding which might be causing misalignment */
}

.provider-list li {
    list-style-type: none; /* Ensure list items do not have bullet points */
}

.card {
    background-color: #ffffff;
    color: black;
}
.card .card-subtitle,
.card .card-text {
    color: #333;
}
.card img {
    border-radius: 4px;
}
.no-photos {
    color: red;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: skyblue; 
    border-radius: 50%;
    padding: 10px;
}

.profile-detail {
    /* display: flex;  */
    position: relative;
    justify-content: space-between; 
    align-items: center;
    text-align: left;
    width: 100%; 
}

.profile-info {
    width: 100%; 
}
.profile-value {
     /* Example color, change as needed */
    color: dimgrey;

}
.label-text {
    font-size: small; 
    color: gray;
    margin-bottom: 0;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-close {
    margin-left: auto; /* Pushes the button to the right */
    margin-bottom: auto;
}

/* Modal content half transparent */
.modal-content {
    background-color: #1f5b74; /* 50% transparent white */
}

/* Modal backdrop half transparent */
.modal-backdrop.show {
    opacity: 0.5; /* 50% transparent */
}

.small-icon {
    position: absolute;
    top: 50%;
    right: 0; /* Keep it aligned to the right */
    transform: translateY(-50%);
    color: dimgrey;
    cursor: pointer;
    font-size: 12px; /* Adjust the size as needed */
}

.profile-photo-edit-icon {
    position: absolute;
    bottom: 5px;  /* Adjust as necessary */
    right: 180px;   /* Adjust as necessary */
    color: dimgrey;
    cursor: pointer;
    font-size: 12px; /* Adjust the size as needed */
}


.gutter-content {
    border-radius: 8px;
    background-color: white;
    width: 48%;
    /* margin: 7px; */
    margin-right: 16px;
    margin-left: 0px;
}

.gutter-content-2 {
    border-radius: 8px;
    background-color: white;
    width: 31%;
    margin: 7px;
    margin-right: 19.42px;
    margin-left: 0px;
}

.gutter-content-biography {
    border-radius: 8px;
    background-color: white;
    width: 98%;
    margin-right: 10px;
    margin-left: 0px;
}

.btn-custom {
    padding: 2px 5px; /* Adjust padding to change button size */
    font-size: 16px; /* Adjust font size */
}

.errorlist {
    text-align: left;
}

.custom-alert {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;  /* Adjust the max-width as needed */
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
}

.custom-close {
    margin-left: auto;  /* Push the close button to the right */
}

.blog-post-in-profile {
    background-color: #9ec1d7;
}

.blog-display-button {
    padding: 2px 5px; /* Adjust padding to change button size */
    font-size: 16px; /* Adjust font size */

}

.create_blog_post_button {
    margin: 5px;
}

.img-small {
    width: 70px; /* Adjust the size as needed */
    height: 70px; /* Ensure the image is a perfect square to maintain the circular shape */
    object-fit: cover; /* Ensures the image covers the entire area, cropping if necessary */
}

.custom-description {
    background-color: #18465a;
    padding: 15px; /* Add padding to give space around the text */
    border-radius: 5px; /* Optional: add border-radius for rounded corners */
}

.description {
    background-color:  #1f5a74;
    padding: 15px; /* Add padding to give space around the text */
    border-radius: 5px; /* Optional: add border-radius for rounded corners */
}


.btn-success {
    background-color: #18465a !important;
    border-color: #18465a !important;
}

.btn-success:hover {
    background-color: #1f5a74 !important;
}

.btn-warning {
    background-color: #9ec1d7 !important;
    border-color: #9ec1d7 !important;
}

.btn-warning:hover {
    background-color: #bfe0f5 !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}


.btn-primary {
    background-color: #1b1c27 !important;
    border-color: #1b1c27 !important;
}

.btn-primary:hover {
    background-color: #3a3b49 !important;
}

.btn-info {
    background-color: #18465a !important;
    border-color: #18465a !important;
    color: #eff1ee;
}

.btn-info:hover {
    background-color: #1f5a74 !important;
    color: #eff1ee;
}


.my-4 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.custom-header {
    font-size: 2rem; /* Adjust the size as needed */
}
